<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Lista de Productos (Estatica)</h1>
  <ul class="product-list">
      {{#each products}}
          <li class="product-item">
              <div><strong>ID:</strong> {{this.id}}</div>
              <div><strong>Nombre:</strong> {{this.name}}</div>
              <div><strong>Precio:</strong> ${{this.price}}</div>
              <div><strong>Descripción:</strong> {{this.description}}</div>
          </li>
      {{/each}}
  </ul>
  <br>
  <a href="/realtimeproducts">Ir a Vista en Tiempo Real</a>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
</html>